<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <title>Shared Bookmarks</title>
</head>

<body>
<h1>Shared Bookmarks</h1>

<div class="posts">
    {{#each posts}}
        <p>
            <a href="{{url}}" class="icon bubble">
                {{#if favicon_url}}
                    <img src="{{favicon_url}}" class="icon">
                {{else}}
                    <span></span>
                {{/if}}
            </a>
            <span class="bubble">
                <a href="{{url}}">
                    {{title}}
                </a>
                <span class="time">
                    {{created_formatted}}
                </span>
            </span>
        </p>
    {{/each}}
</div>
</body>
</html>
